.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

a {
  color: #0D698B !important;
}

.container--login {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: center;
}

.main__submit__btn {
  background-color: #E34234;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 10px darkgray;
  color: white;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
  height: 38px;
}

.main__submit__btn:hover {
  background-color: #e34334d7;
  border-radius: 20px;
  box-shadow: 5px 5px 10px darkgray;
  color: white;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
}

.main__submit__btn:focus {
  background-color: #e34334d7;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
  color: white;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
}